.app {
  background-color: #fff;
  padding: 0 1rem;
  min-width: 360px;
  max-width: 1280px;
  margin: 0 auto;
  @media (min-width: 728px) {
    padding: 0.63rem 1.25rem;
  }

  @media (min-width: 1280px) {
    padding: 0 7rem;
  }
}
